<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
    <span class="sr-only">Toggle navigation</span>
    </button>
    <%= link_to 'NCTU+', root_path, :class => 'navbar-brand' %>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <% if user_signed_in? and current_user.admin? %>
      <li><%= link_to admin_index_path do %>
        <span class="glyphicon glyphicon-cog"></span> 網站管理
        <% end %>
        <% end %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><a><%= "#{current_user.username}，你好！" %></a></li>
      <li><%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-pencil"></span> 修改資料<% end %></li>
      <li><%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> 登出<% end %></li>
      <% else %>
      <li><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-user"></span> 註冊<% end %></li>
      <li><%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> 登入<% end %></li>
      <% end %>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
<!-- /navbar -->
